html {
    scroll-behavior: smooth;
}

.backg-img {
    background-image: url(background.jpg);
    min-width:  1000px;
    min-height: 1000px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}

.logo {
    position: absolute;
    z-index: 3;
    max-height: 120px;
    max-width: 170px;
    margin-left: 50px;
    margin-top: 10px;
}

.container {
    float: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

h2 {
    text-align: left;
    font-family: serif;
    font-size: 30px;
}

.div_quemsomos {
    width: 100%;
}

p {
    text-align: justify;
    font-size: 18px;
}

.quemsomos_img {
    width: 400px;
    height: 120px;
    float: right;
    position: relative;
    top: -20px;
    margin-left: 20px;
}

.location_img {
    width: 300px;
    height: 120px;
    float: left;
    position: relative;
    margin-right: 20px;
}

.contactos_img {
    width: 400px;
    height: 255px;
    float: left;
    position: relative;
    top: -35px;
}

.linha {
    width: 100%;
    text-align: center;
}

.footer {
  float: left;
  width: 33.33%;
}

.linha::after {
  content: "";
  clear: both;
  display: table;
}