
body{
	background-color: lightgrey;
}

html {
  scroll-behavior: smooth;
}

nav{
	display: block;
	border-style: outset;
	margin: 10px;
	padding: 10px;
}

section{
	display: block;
	border-style: inset;
	margin: 20px;
}

p{
	text-align: center;
	color:white;
	font-family: "Times New Roman", Times, serif;
}

.APP{
	clear: right;
	overflow:auto;
}


.iphone{
	float: right;
	height: inherit;
	max-width: 20%;	
  max-height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


.bannerPrincipal {
	display: block;
  width: 95%;
  max-height: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}