
body{
	background-color: white;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 10px;
    font-size: 20px;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10%;
    left: 10%;
	text-align: center;
    border-radius: 50px;
}

a {
  color: black;
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}

a:hover {
  color: gray;
}

section{
	display: block;
	margin: 20px;
}

p {
	text-align: center;
	color: black;
	font-family: sans-serif;
    text-align: justify;
}

h2 {
    font-family: sans-serif;
}

.APP{
	clear: right;
	overflow:auto;
}


.iphone{
	float: right;
	height: inherit;
	max-width: 20%;	
  max-height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


.bannerPrincipal {
    width: 100%;
    text-align: left;
    
}